doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jam/require.js', data-main='javascripts/main')

  body
    block content
    svg